<form action="#" class="row justify-content-start" id="settings-form">
    <%
    subtitleIndex=1;
    items = [{
        label:"服务器地址",
        type:"url",
        key:"host-name",
        required:true,
        describedby:{
          key:"urlHelp",
          text:"e.g. http://localhost:9527"
        },
        subtitle: "服务器配置"
    },{
        label:"鼠标遮罩颜色",
        type:"color",
        required:true,
        key:"masker-color",
        subtitle: "显示配置"
    },{
        label:"鼠标遮罩透明度",
        type:"number",
        required:true,
        key:"masker-opacity",
        max:1,
        min:0,
        step:0.1
    },{
        label:"尺寸",
        type:"number",
        required:true,
        key:"option-size",
        max:36,
        min:12,
        step:1,
        describedby:{
            key:"sizeHelp",
            text:"修改整体尺寸，包括字体以及控件尺寸。"
        },
        subtitle: "通用配置"
    }] %>
    <% items.forEach(function(item){ %>
    <% if (item.subtitle) { %>
        <h4 class="pt-3"><span class="badge bg-primary rounded-pill"><%=subtitleIndex%></span> <%=item.subtitle%></h4>
        <%subtitleIndex++;%>
    <% } %>
    <div class="mb-3 col-6">
        <label for="<%=item.key%>" class="form-label"><%=item.label%></label>
        <% switch (item.type) {
        case "url" : %>
        <input type="url" class="form-control" id="<%=item.key%>" <%=item.describedby?`aria-describedby=${item.describedby.key}`:null%> <%=item.required?"required":null%>>
        <% break;
        case "color" : %>
        <input type="color" class="form-control" id="<%=item.key%>" <%=item.describedby?`aria-describedby=${item.describedby.key}`:null%> <%=item.required?"required":null%>>
        <% break;
        case "number" : %>
        <input type="number" class="form-control" id="<%=item.key%>" <%=item.describedby?`aria-describedby=${item.describedby.key}`:null%> <%=isNaN(item.max)?null:`max=${item.max}`%> <%=isNaN(item.min)?null:`min=${item.min}`%> <%=isNaN(item.step)?null:`step=${item.step}`%> <%=item.required?"required":null%>>
        <% break;
        } %>
        <% if (item.describedby) { %>
            <div id="<%=item.describedby.key%>" class="form-text"><%=item.describedby.text%></div>
        <% } %>
    </div>
    <% }); %>
    <div class="row justify-content-center">
        <button id="save-settings" type="submit" class="btn btn-primary col-4">保存</button>
    </div>
</form>